## Entornos virtuales
venv/
.venv/
env/
.env/
ENV/

# Archivos de variables de entorno 
.env
.env.*

# Bytecode y caches de Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Distribución / Paquetes
build/
dist/
*.egg-info/
*.egg Archivos de estado de Terraform 
*.tfstate
*.tfstate.backup

# Archivos de variables 
*.tfvars
*.tfvars.json

# Directorio local de Terraform 
.terraform/

# Logs de errores
crash.log
crash.*.log

# Archivos de plan 
*.tfplan
